SPRING_PROFILES_ACTIVE=local

MYSQL_URL=jdbc:mysql://<HOST>:<PORT>/saga_dev?sslmode=require
MYSQL_USERNAME=
MYSQL_PASSWORD=

NEO4J_URI=neo4j+s://<HOST>
NEO4J_USERNAME=
NEO4J_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SSL_ENABLED=true

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=
RABBITMQ_SSL_ENABLED=true
